
section{
    display: flex;
    margin-top: 50px;
    
    
}
.half-width{
width: 50%;
padding-left: 10%;

}
.BD{
    font-size: 55px;
    background-image: url(./images/shapes/shape-5.png);
    background-position: left;
    

}

.half-width img{
    width: 88%;
    

}

.BD{
    
    border-left: 7px solid ;
    border-image: linear-gradient(rgb(230, 55, 55),red) ;
    border-image-slice: 1;
    padding-left: 10px;
    
}
a{
    text-decoration: none;
    background-image: linear-gradient(rgb(151, 240, 100),rgb(22, 121, 47));
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-radius: 7px;
}
.text{
    font-size: 22px;
    color: red;
}

h2{
    margin-top: 30px;
    padding-left: 500px;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}
strong{
    color: rgb(87, 13, 87);
}
.second-list img , .first-list img , .third-list img{
    width: 40%;
   

}
.second-list , .first-list  , .third-list {
    width: 50%;
    
    border-radius: 25px;
    margin: 10px;
    
    text-align: justify;
    padding: 17px;
    font-size: 20px;
    margin-top: -20px;
    
}

#life{
    margin-left: 105px;
    margin-right: 75px;
    
}
body{
    background-image: url(./exp-bg.png);
    background-repeat: no-repeat;
    
}

.develop-limit img{
   width: 85%;

   
}
#develop{
    margin-left: 112px;
    margin-right: 75px;

    
}
.develop-limit p{
    font-size: 20px;
    text-align: justify;
}
#project {
    margin-left: 112px;
    margin-right: 75px;
    
    

}
.project-discuss img{
width: 85%;
margin-left: 80px;


}
.project-discuss{
    width: 50%;
    

}
.project-discuss p{
    font-size: 20px;
    text-align: justify;
}

#from{
    background-color: crimson;
}


#User-from{
    background-image: linear-gradient(rgb(55, 163, 182),rgb(51, 51, 228));
    margin-left: 350px;
    margin-right: 350px;
    font-size: 20px;
}


h3{
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        text-align: center;
}

.from-my{
background-image:linear-gradient(rgb(168, 36, 124),rgb(134, 25, 43)) ;
padding: 10px;

}


footer{
    background-color: rgb(3, 0, 12);
    height: 200px;
    width: 100%;
   
}
h4{
    font-family: 'Lobster Two', cursive;
    

    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}
